<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1> <b>  Attenzione: CANCELLANDO QUESTO AUTORE, CANCELLERAI ANCHE LE OPERE COLLEGATE!  </b></h1>
	<div>
    	<p th:text="'Nome: ' + ${autore.nomeAutore}" />
    </div>
    <div>
		<p th:text="'Immagine:'" />
		<img th:src="@{${autore.urlImmagine}}" alt="Immagine Autore" style="height: 500px; width: 500px" />
	</div>
    <div>
    	<p th:text="'Nazionalita: ' + ${autore.nazionalita}" />
    </div>
	<div>
    	<p th:if="${autore.annoNascita}" th:text="#{label.annoNascita} +' '+ ${dataNascita}"></p>
    </div>
    <div>
    	<p th:if="${autore.annoMorte}" th:text="#{label.annoMorte} +' '+ ${dataMorte}"></p>
    </div>
    <form action="#" th:action="@{/confermaCancellazioneAutore(id=${autore.id})}"
		th:object="${autore}" method="post">
		<span><button type="submit">Cancella</button></span>
	</form>
	<a th:href="@{/modAutore}">Annulla</a>
</body>
</html>