<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
    	<p th:text="'Nome: ' + ${autore.nomeAutore}" />
    </div>
    <div>
		<p th:text="'Immagine:'" />
		<img th:src="@{${autore.urlImmagine}}" alt="Immagine Autore" style="height: 500px; width: 500px" />
	</div>
    <div>
    	<p th:text="'Nazionalita: ' + ${autore.nazionalita}" />
    </div>
	<div>
    	<p th:text="'Anno di nascita: ' + ${dataNascita}" />	
    </div>
    <div>
    	<p th:if="${autore.annoMorte}" th:text="#{label.annoMorte} +' '+ ${dataMorte}"></p>
    </div>
</body>
</html>