<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	Sei sicuro di voler cancellare quest'Opera?
	<div>
		<p th:text="'Nome: ' + ${opera.nome}" />
	</div>
	<div>
		<p th:text="'Immagine:'" />
		<img th:src="@{${opera.urlImmagine}}" alt="Immagine Opera"
			style="height: 500px; width: 500px" />
	</div>
	<div>
		<p th:text="'Descrizione: ' + ${opera.descrizione}" />
	</div>
	<div>
		<p th:text="'Tecnica: ' + ${opera.tecnica}" />
	</div>
	<div>
		<p th:text="'Anno: ' + ${opera.anno}" />
	</div>
	<div>
		<p th:text="'Nome autore: ' + ${opera.autore.nomeAutore}" />
	</div>
	<div>
		<p th:text="'Nome stanza: ' + ${nomeStanza}" />
	</div>
	<div>
		<p th:text="'Larghezza quadro: ' + ${opera.larghezza}" />
	</div>
	<div>
		<p th:text="'Lunghezza quadro: ' + ${opera.larghezza}" />
	</div>

	<form action="#" th:action="@{/confermaCancellazione(id=${opera.id})}"
		th:object="${opera}" method="post">
		<span><button type="submit">Cancella</button></span>
	</form>
	<a th:href="@{/modOpera}">Annulla</a>
	



</body>
</html>