<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>AreaRiservataOpere</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->
<link href="../static/css/bootstrap-responsive.css"
	th:href="@{/css/bootstrap-responsive.css}" rel="stylesheet" />

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

<link href="../static/color/default.css" th:href="@{/color/default.css}"
	rel="stylesheet" />


<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
</head>
<body>
	<!-- navbar -->
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse"
						data-target=".nav-collapse"><span class="icon-bar"></span><span
						class="icon-bar"></span><span class="icon-bar"></span> </a>
					<h1 class="brand">
						<a href="index.html">Galleria D'arte</a>
					</h1>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
							<li><a title="team" href="index.html#about">About</a></li>
							<li><a title="services" href="index.html#services">Servizi</a></li>
							<li><a title="blog" href="index.html#blog">Blog</a></li>
							<li><a title="contact" href="/opAvanzate">Area Riservata</a></li>

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>


	<section class="spacer orange">
		<div class="container">
			<div class="row">
				<div class="span12 aligncenter flyUp">
					<h2 class="pagetitle">
						Modifica <strong>Opera</strong>
					</h2>
				</div>
			</div>
		</div>
	</section>



	<form action="#" th:action="@{/opera}" th:object="${opera}"
		method="post" class="form-horizontal" role="form">
		<fieldset>
			<legend></legend>


			<div class="form-group" style="margin-bottom: 20px">
				<label class="col-sm-3 control-label"> <span
					th:text="#{label.stanze}">Stanze: </span></label>
				<div class="col-sm-4">
					<select class="form-control" id="sel1" th:field="*{stanza}">
						<option th:value="${null}">Opera non esposta</option>
						<option th:each="stanza : ${stanze}" th:value="${stanza.id}"
							th:text="${stanza.nome}"></option>
					</select>
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label"><span
					th:text="#{label.nome}">Nome: </span></label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{nome}"
						placeholder="Nome" /><span th:if="${#fields.hasErrors('nome')}"
						th:text="#{label.mandatory}">Error</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span
					th:text="#{label.descrizione}">Descrizione: </span></label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{descrizione}"
						placeholder="Descrizione" /><span
						th:if="${#fields.hasErrors('descrizione')}"
						th:text="#{label.mandatory}">Error</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span
					th:text="#{label.anno}">Anno:  </span></label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{anno}"
						placeholder="Anno" /><span th:if="${#fields.hasErrors('anno')}"
						th:text="#{label.number}">Error</span>
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label"><span
					th:text="#{label.lunghezza}">Lunghezza quadro:  </span> </label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{lunghezza}"
						placeholder="lunghezza" /><span
						th:if="${#fields.hasErrors('lunghezza')}"
						th:text="#{label.number}">Error</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label"><span
					th:text="#{label.larghezza}">Larghezza quadro:  </span></label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{larghezza}"
						placeholder="larghezza" /><span
						th:if="${#fields.hasErrors('larghezza')}"
						th:text="#{label.number}">Error</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label"><span
					th:text="#{label.tecnica}">Tecnica:  </span></label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{tecnica}"
						placeholder="Tecnica" /><span
						th:if="${#fields.hasErrors('tecnica')}"
						th:text="#{label.mandatory}">Error</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"> <span
					th:text="#{label.urlImmagine}">Immagine Url:  </span>
				</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{urlImmagine}" /><span
						th:if="${#fields.hasErrors('urlImmagine')}"
						th:text="#{label.mandatory}">Error </span>
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label"> <span
					th:text="#{label.autore}">Autore:  </span>
				</label>
				<div class="col-sm-4">
					<input type="text" th:field="${autore.nomeAutore}"  class="form-control" name="nomeAutore" />
				</div>
			</div>


		<div class="form-group" style="float: left; margin-left: 160px; margin-right: 20px">
				<div class="col-sm-offset-4 col-sm-9">
				<a href="/opAvanzate" class="btn">Annulla </a>

				</div>
			</div>

			<div class="form-group" style="float: left;">
				<div class="col-sm-offset-4 col-sm-9">
					<button type="submit" class="btn btn-danger">Modifica
						Opera</button>
				</div>
			</div>

	
			
		</fieldset>
	</form>


	<footer>
		<div class="container">
			<div class="row">
				<div class="span6 offset3">

					<p class="copyright">&copy; 2013 Maxim Inc corporate. All
						rights reserved.</p>
				</div>
			</div>
		</div>
		<!-- ./container -->
	</footer>
	<a href="#" class="scrollup"><i
		class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- nav -->
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.nav.js"></script>
	<!-- localScroll -->
	<script src="js/jquery.localscroll-1.2.7-min.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.js"></script>
	<!-- prettyPhoto -->
	<script src="js/jquery.prettyPhoto.js"></script>
	<!-- Works scripts -->
	<script src="js/isotope.js"></script>
	<!-- flexslider -->
	<script src="js/jquery.flexslider.js"></script>
	<!-- inview -->
	<script src="js/inview.js"></script>
	<!-- animation -->
	<script src="js/animate.js"></script>
	<!-- twitter -->
	<script src="js/jquery.tweet.js"></script>
	<!-- contact form -->
	<script src="js/validate.js"></script>
	<!-- custom functions -->
	<script src="js/custom.js"></script>
</body>
</html>
