<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>listaOpere</title>
</head>
<body>
<h1>Opere Dell'autore </h1>
<table>
	<th:foreach th:each="opera: ${opere}">
      <tr>
      <td>
      <a th:text="${opera.nome}" th:href="@{/mostraOpera?(id=${opera.id})}"></a>
      </td> 
         
      </tr>
   </th:foreach>
</table>
	<p>
		<a th:href="@{/visualizzaPerTitoloAutore?(id=${autore.id})}">Visualizza per titolo</a>
	</p>
	
		<p>
		<a th:href="@{/visualizzaPerAnnoAutore?(id=${autore.id})}">Visualizza per anno</a>
	</p> 
</body>
</html>