<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista Stanze</title>
</head>
<body>
	<h1>
		<span th:text="#{label.autoreTitolo}">Stanze :</span>
	</h1>
	<ul>
		<th:foreach th:each="stanza: ${stanze}">
			<li><a th:text="${stanza.nome}"
				th:href="@{/mostraStanza?(id=${stanza.id})}"></a> 
			<a th:href="@{/cancellaStanza(id=${stanza.id})}">Cancella</a>
			</li>

		</th:foreach>
	</ul>

</body>
</html>